/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
} */

.burgerList {
    list-style: none;
}

.inactive {
    display: none;
}

.wrong {
    display: block;
    color: red;
}

.show {
    display: block;
}

/* .btn {
    width: 300px;
} */